@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}

.header--shadow {
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

.sidebar--slide {
  animation: slide 0.5s;
}

.chatroom--shadow {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}

@keyframes slide {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0px);
  }
}
