@tailwind base;
@tailwind components;
@tailwind utilities;

/* body,
html,
#root {
  font-family: "Do Hyeon", sans-serif;
  width: 100%;
} */

* {
  box-sizing: border-box;
}

body {
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}

.header--shadow {
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

.sidebar--slide {
  animation: slide 0.5s;
}

.chatroom--shadow {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}

@keyframes slide {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0px);
  }
}

.break {
  word-break: break-all;
}

/* Scroll Animation (sa, 스크롤 애니메이션) */
.sa {
  opacity: 0;
  transition: all 0.5s ease;
}

/* 아래에서 위로 페이드 인 */
.sa-up {
  transform: translate(0, 100px);
}
/* 위에서 아래로 페이드 인 */
.sa-down {
  transform: translate(0, -100px);
}
/* 왼쪽에서 오른쪽으로 페이드 인 */
.sa-right {
  transform: translate(-100px, 0);
}
/* 오른쪽에서 왼쪽으로 페이드 인 */
.sa-left {
  transform: translate(100px, 0);
}
/* 왼쪽으로 회전하면서 페이드 인 */
.sa-rotateL {
  transform: rotate(180deg);
}
/* 오른쪽으로 회전하면서 페이드 인 */
.sa-rotateR {
  transform: rotate(-180deg);
}
/* 작아진 상태에서 커지면서 페이드 인 */
.sa-scaleUp {
  transform: scale(0.5);
}
/* 커진 상태에서 작아지면서 페이드 인 */
.sa-scaleDown {
  transform: scale(1.5);
}

.sa.show {
  opacity: 1;
  transform: none;
}
._paused {
  animation-play-state: paused;
}
._running {
  animation-play-state: running;
  animation: dashi 2s;
}

@keyframes dashi {
  from {
    stroke-dashoffset: 385.65460205078125;
  }
  to {
    stroke-dashoffset: 0;
  }
}
