@tailwind base;
@tailwind components;
@tailwind utilities;

.header--shadow {
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

.sidebar--slide {
  animation: slide 0.5s;
}

@keyframes slide {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0px);
  }
}
